@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

.Logo {
  width: 2%; 
  margin-left: 20px;
}

.Homepage {
  margin-top: 1%;
  font-size: 24px;
  padding-left: 75%;
}

@media screen and (max-width: 640px) {
  .Logo {
    width:10%;
    margin-left: 5%;
  }

  .Homepage {
    display: none;
  }
}