@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@keyframes appear {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}
@keyframes slideIn {
 0% {
   transform: translateX(-2%);
 }
 100% {
   transform: translateX(0);
 }
}
@keyframes shrink {
 0% {
   width: 95%;
 }
 100% {
   width: 90%;
 }
}
.Logo {
 height: 2%;
 width: 2%;
 margin-left: 20px;
}
.Homepage {
 font-size: 25px;
 padding-left: 960px;
}

.easter-egg {
  position: absolute;
  height: 500px;
  top: calc(50vh - 214px);
  left: calc(50vw - 250px);
  padding: 20px;
  background-color: rgba(255, 255, 255, .4);
  z-index: 5000;
}

.easter-egg.hidden {
  display: none;
}

.easter-egg img {
  height: 500px;
}

