.Cardegg {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding:0;
    background-color: green;
    max-width: 250px;
}

.Cardegg .image >img {
    width: 200px;
    height: 200px;
}