body {
    font-family: Helvetica, sans-serif;
  }
  
  .react-autosuggest__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .react-autosuggest__input {
    width: 350px;
    height: 35px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    text-align:center;
    
  }
  
  .react-autosuggest__input--focused {
    outline: none;
    text-align:center;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align:center;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
    text-align:center;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    top: 35px;
    width: 240px;
    border: 1px solid ;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align:center;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    text-align:center;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: rgba(110, 207, 90, 0.219);
    text-align:center;
  }
  
  