@import url("https://fonts.googleapis.com/css?family=Lobster");

.Search {
  padding: 5%;
  background-color: #f0ffff;
}

.Search h1 {
  font-family: "Lobster";
  text-align: center;
  text-decoration: underline;
  margin-bottom: 5%;
}
